@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500|Work+Sans:500,700');

$heading-font-family: "Work Sans";
$heading-font-weight: 700;

$content-font-family: "IBM Plex Sans";
$content-font-weight: 400;

%font-heading {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  color: $color-heading-text;
}

%font-content {
  font-family: $content-font-family;
  font-weight: $content-font-weight;
  color: $color-text;
}

* {
  @extend %font-content;
}

h1, h2, h3, h4, h5 {
  @extend %font-heading;
}

p {
  line-height: 1.5;
}